*{
    margin: 0;
    padding: 0;
}

body{
    background-color: cornflowerblue ;
}

.div1{
    border: 3px solid black;
    background-color: rgb(61, 61, 61);
    width: 650px;
    height: 300px;
    margin-left: 630px;
    margin-top: 300px;
    text-align: center;
}


h2{
    text-align: center;
    height: 80px;
    padding-top: 40px;
    color: rgb(255, 255, 255);
    font-size: 30px;
}
button{
    align-items: center;
    background-color:rgb(179, 177, 177);
    width: 70px;
    height: 50px;
    font-size: 20px;
}

button:hover{
    background-color: rgb(232, 245, 217);
}