/* CSS reset */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* remove a linha dos links */
a {
    text-decoration: none;
}

/* esconde as ancoras da tela */
a.links {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #faf9f9;
    /* Definindo a cor de fundo cinza claro */
}

.content {
    width: 90%;
    max-width: 580px;
    margin: 50px auto;
    position: relative;
}

img.logo {
    width: 400px;
    /* Largura da imagem */
    max-width: 90%;
    height: auto;
    /* Altura automática para manter a proporção */
    display: block;
    /* Exibir como bloco para centralizar facilmente */
    margin: 0 auto;
    /* Centralizar horizontalmente */
    margin-top: 20px;
    /* Espaço superior */
}

h1 {
    font-size: 36px;
    color: #312569;
    padding: 2px 0 10px 0;
    font-family: montserrat, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

h1:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
    background: linear-gradient(left, rgba(147, 184, 189, 0) 0%, rgba(147, 184, 189, 0.8) 20%, rgba(147, 184, 189, 1) 53%, rgba(147, 184, 189, 0.8) 79%, rgba(147, 184, 189, 0) 100%);
}
h4 {
    font-size: 20px;
    color: #312569;
    padding: 2px 0 10px 0;
    font-family: montserrat, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

p {
    margin-bottom: 15px;
}

.content p:first-child {
    margin: 0px;
}

label {
    color: #fdb12c;
    position: relative;
}

/* placeholder */
::-webkit-input-placeholder {
    color: #bebcbc;
    font-style: italic;
}

input {
    margin: 5px;
    outline: none;
}

.container1 {
    display: flex; /* Torna o container flexível */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    justify-content: center; /* Centraliza os itens horizontalmente */
}

.row {
    display: flex; /* Torna os elementos filhos flexíveis */
    justify-content: space-around; /* Distribui uniformemente os itens na linha */
    width: 100%; /* Define a largura da linha como 100% */
    margin-bottom: 20px; /* Espaçamento entre as linhas */
}


select {
    margin: 5px; /* Espaçamento entre os selects */
    border: 1px solid #fdb12c; /* Bordas com a cor desejada */
    border-radius: 5px; /* Bordas arredondadas */
    padding: 5px; /* Espaçamento interno */
    flex: 1; /* Define a flexibilidade dos selects */
    max-width: calc(50% - 10px); /* Define a largura máxima de cada select */
}

input:not([type="checkbox"]) {
    width: 95%;
    margin-top: 4px;
    padding: 10px;
    border: 1px solid #b2b2b2;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

input[type="submit"] {
    width: 100% !important;
    cursor: pointer;
    background: #312569;
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    margin: 0px;
    text-shadow: 0 1px 1px #333;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.2s linear;
}

input[type="submit"]:hover {
    background: #ff010b;
}

.link {
    margin: 10px 0 0 0;
    position: absolute;
    background: #dfe2e2;
    color: #7f7c7c;
    left: 0px;
    height: 20px;
    width: 92%;
    padding: 17px 30px 20px 30px;
    font-size: 16px;
    text-align: right;
    border-top: 1px solid #dbe5e8;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.link a {
    font-weight: bold;
    background: #f7f8f1;
    padding: 6px;
    color: #ff010b;
    margin-left: 10px;
    border: 1px solid #fdb12c;
    -webkit-border-radius: 4px;
    border-radius: 5px;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

#professor {
    width: 90%;
    padding: 18px 6% 60px 6%;
    margin: 50px auto 35px auto; /* Adicionando margem inferior para separar os blocos */
    background: #f7f7f7;
    border: 1px solid rgba(147, 184, 189, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#aluno {
    width: 90%;
    padding: 18px 6% 60px 6%;
    margin: 0 auto 35px auto; /* Margem inferior para separar os blocos */
    background: #f7f7f7;
    border: 1px solid rgba(147, 184, 189, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Efeito ao clicar no botão ( Ir para Login ) */
#parasenha:target~.content #professor,
#paralogin:target~.content #aluno {
    z-index: 2;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

/* Efeito ao clicar no botão ( Cadastre-se ) */
#aluno:target~.content #professor,
#paralogin:target~.content #aluno {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}

/* Adiciona um media query para dispositivos com largura máxima de 768 pixels (por exemplo, tablets em modo retrato e smartphones em modo paisagem) */
@media (max-width: 768px) {
    .link {
        max-width: 82%;
        text-align: center;
    }

    .link a {
        display: block;
        width: calc(100% - 20px);
        margin: 8px auto;
        text-align: center;
    }
}
